## Extract Stocks and Index data from NSE using NSEPY

#### https://nsepy.xyz/#nsepy-documentation

In [32]:
import pandas as pd

In [18]:
#!pip3 install nsepy

In [33]:
from nsepy import get_history

In [34]:
from datetime import date

In [35]:
#Extract index data
symbol = ['NIFTY SMLCAP 100','NIFTY SMLCAP 250','NIFTY SMLCAP 50','NIFTY MIDCAP 150','NIFTY 50','NIFTY NEXT 50']
data1 = []
data1 = pd.DataFrame(data1)

In [36]:
for x in symbol:
    data = get_history(symbol=x,start=date(2019,1,1),end=date(2020,12,31),index=True)
    data = pd.DataFrame(data)
    data['Index_Name'] = x
    data1 = pd.concat([data1,data])
    print(x)

NIFTY SMLCAP 100
NIFTY SMLCAP 250
NIFTY SMLCAP 50
NIFTY MIDCAP 150
NIFTY 50
NIFTY NEXT 50

In [37]:
#save index data
data1.to_csv('Index_Data.csv',index=True)

In [48]:
#Extract stock data
symbol = ['3MINDIA','AARTIDRUGS','AARTIIND','ABB','ABBOTTINDIA']

In [55]:
data1 = []
data1 = pd.DataFrame(data1)
for x in symbol:
    data = get_history(symbol=x,start=date(2019,1,1),end=date(2020,12,31))
    data = pd.DataFrame(data)
    data1 = pd.concat([data1,data])
    print(x)

3MINDIA
AARTIDRUGS
AARTIIND
ABB
ABBOTTINDIA

In [56]:
data1.head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2019-01-01,3MINDIA,EQ,20824.40,20854.95,20870.00,20625.00,20675.00,20666.35,20750.86,517,1.072820e+12,302,290,0.5609
2019-01-02,3MINDIA,EQ,20666.35,20666.35,20666.35,19952.45,19980.00,19985.75,20024.56,8642,1.730522e+13,2543,4849,0.5611
2019-01-03,3MINDIA,EQ,19985.75,20160.00,20269.95,19801.60,19950.00,19990.25,19984.90,2402,4.800374e+12,968,1605,0.6682
2019-01-04,3MINDIA,EQ,19990.25,20011.40,20540.00,19997.00,20380.35,20357.40,20262.32,3891,7.884071e+12,1557,1691,0.4346
2019-01-07,3MINDIA,EQ,20357.40,20699.45,20699.45,20350.00,20350.00,20388.25,20490.26,1121,2.296959e+12,606,840,0.7493

In [57]:
data1.to_csv('Stock_Data.csv',index=True)